{% block footer %}
    <div class="rodape">
        <div class="container">
            Copyright 2014 - 2014 | Red Hotel. Todos os direitos reservados a este site da web.
            <a style="display:none;" href="javascript: void(0);"
               onclick="window.open('http://www.facebook.com/sharer.php?u=http://redhabbos.com.br','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');">Compartilhar</a>
            <span>REDCMS</span>
        </div>
    </div>
{% endblock %}