{% set active_page = 'index' %}
{% extends 'base.html.twig' %}
{% block content %}

<!--Meio!-->
<div class="container">
<div class="meio">

<!--Box 01!-->
<div class="box_left t1">
<div class="box gray">
<div class="topo_box"><span>TOP USUÁRIOS</span></div>

<!-- Top Moedas!->
<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine">
<script>$(document).ready(function(){$("#DjSchittine").css("background-image",backgroundAvata)});$("#DjSchittine").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine").mouseout(function(){$("#DjSchittine").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_red"><span>Vini</span></div>
<div class="top_gray"><img src="imagens/moedas.png"><span>1000 Moedas</span></div>
</div>
<!--END Box USR!-->

<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine1">
<script>$(document).ready(function(){$("#DjSchittine1").css("background-image",backgroundAvata)});$("#DjSchittine1").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine1").mouseout(function(){$("#DjSchittine1").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_red"><span>Marcos</span></div>
<div class="top_gray"><img src="imagens/moedas.png"><span>1000 Moedas</span></div>
</div>
<!--END Box USR!-->

<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine2">
<script>$(document).ready(function(){$("#DjSchittine2").css("background-image",backgroundAvata)});$("#DjSchittine2").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine2").mouseout(function(){$("#DjSchittine2").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_red"><span>Vini</span></div>
<div class="top_gray"><img src="imagens/moedas.png"><span>1000 Moedas</span></div>
</div>
<!--END Box USR!-->
<!-- END Top Moedas!->

<!-- Top Referidos!-->
<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine3">
<script>$(document).ready(function(){$("#DjSchittine3").css("background-image",backgroundAvata)});$("#DjSchittine3").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine3").mouseout(function(){$("#DjSchittine3").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_blue"><span>Vini</span></div>
<div class="top_gray"><img src="imagens/referidos.png"><span>1000 Referidos</span></div>
</div>
<!--END Box USR!-->
<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine4">
<script>$(document).ready(function(){$("#DjSchittine4").css("background-image",backgroundAvata)});$("#DjSchittine4").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine4").mouseout(function(){$("#DjSchittine4").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_blue"><span>Vini</span></div>
<div class="top_gray"><img src="imagens/referidos.png"><span>1000 Referidos</span></div>
</div>
<!--END Box USR!-->

<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine5">
<script>$(document).ready(function(){$("#DjSchittine5").css("background-image",backgroundAvata)});$("#DjSchittine5").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine5").mouseout(function(){$("#DjSchittine5").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_blue"><span>Marcos</span></div>
<div class="top_gray"><img src="imagens/referidos.png"><span>1000 Referidos</span></div>
</div>
<!--END Box USR!-->
<!-- END Top Referidos!-->

<!-- Top Diamantes!->
<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine6">
<script>$(document).ready(function(){$("#DjSchittine6").css("background-image",backgroundAvata)});$("#DjSchittine6").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine6").mouseout(function(){$("#DjSchittine6").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_red"><span>Marcos</span></div>
<div class="top_gray"><img src="imagens/diamante.png"><span>1000 Diamantes</span></div>
</div>
<!--END Box USR!-->

<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine7">
<script>$(document).ready(function(){$("#DjSchittine7").css("background-image",backgroundAvata)});$("#DjSchittine7").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine7").mouseout(function(){$("#DjSchittine7").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_red"><span>Vini</span></div>
<div class="top_gray"><img src="imagens/diamante.png"><span>1000 Diamantes</span></div>
</div>
<!--END Box USR!-->

<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine8">
<script>$(document).ready(function(){$("#DjSchittine8").css("background-image",backgroundAvata)});$("#DjSchittine8").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine8").mouseout(function(){$("#DjSchittine8").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_red"><span>Vini</span></div>
<div class="top_gray"><img src="imagens/diamante.png"><span>1000 Diamantes</span></div>
</div>
<!--END Box USR!-->
<!-- END Top Diamantes!-->
</div>
</div>
<!--END Box 01!-->

<!--Painel de Usuario!-->
<div class="box_right t4">
<div class="box gray">
<div class="topo_box"><span>PAINEL DO USÚARIO</span></div>
<div class="painel_usr">
<div class="avatar_p">
<div class="img" id="usr">
<script>$(document).ready(function(){$("#usr").css("background-image",backgroundAvataUSR)});$("#usr").mouseover(function(){$(this).css("background-image",background2AvataUSR)});$("#usr").mouseout(function(){$("#usr").css("background-image",backgroundAvataUSR)});var usuario="DjSchittine";var background2AvataUSR="url(https://www.habbo.com.br/habbo-imaging/avatarimage?figure=hr-115-42.hd-190-1.ch-215-62.lg-285-91.sh-290-62&action=wav&direction=2&head_direction=3&gesture=srp&size=b)";var backgroundAvataUSR="url(http://www.habbo.de/habbo-imaging/avatarimage?figure=hr-115-42.hd-190-1.ch-215-62.lg-285-91.sh-290-62&action=wav&direction=2&head_direction=3&gesture=sml)";</script>
</div></div>
<div class="box_info t5 box_info_gray"><span>Bem-Vindo de volta <span>Marcos</span></span></div>
<div class="box_info t5 box_info_blue" style="margin-top:4px;"><span>Configurações</span></div>
<div class="btn_small red_btn t5">Entra no Hotel</div>
<div class="box_info t6 box_info_red"><img src="imagens/moedas.png"><span>10000 Moedas</span></div>
<div class="box_info t6 box_info_red" style="margin-left:4px;"><img src="imagens/diamante.png"><span>1000 Diamantes</span></div>
<div class="box_info t6 box_info_red"><img src="imagens/duckets.png"><span>10000 Duckets</span></div>
<div class="box_info t6 box_info_red" style="margin-left:4px;"><img src="imagens/hc.png"><span>1000 Dias HC</span></div>
<div class="box_info t6 box_info_red"><img src="imagens/referidos.png"><span>1000 Referidos</span></div>
<div class="btn_regular t6 cinza">Sair</div>
</div>
</div>
</div>
<!--END Painel de Usuario!-->
<!--Box ultimas atualizaçoes!-->
<div class="box_left t2">
<div class="box white">
<div class="topo_box"><span>ÚLTIMAS ATUALIZAÇÕES</span></div>
<div class="boxer white"><div class="news"><span>Nova mobilha adicionada (Habbo Clube)</span></div></div>
<div class="boxer blue"><div class="news">Nova mobilha adicionada (Habbo Clube)</div></div>
<div class="boxer white"><div class="news"><span>Nova mobilha adicionada (Habbo Clube)</span></div></div>
<div class="boxer red"><div class="news">Nova mobilha adicionada (Habbo Clube)</div></div>
<div class="boxer white"><div class="news"><span>Todas as atualizações para o hotel sao postadas no site<br><span>Dúvidas contate o suporte para mais informações sobre atualizações!</span></span></div></div>
</div>
</div>
<!--END ultimas atualizaçoes!-->

<!--Box video!-->
<div class="box_left t3">
<div class="box gray" style="margin:0; padding:0;">
<div class="topo_box"><span>MÚSICA/VIDEO DESTAQUE</span></div>
<iframe width="100%" height="206"
src="https://www.youtube.com/embed/y-BxzrPWGoU">
</iframe>
</div>
</div>
<!--END Box video!-->

<!--Eventos recentes!-->
<div class="box_right t4">
<div class="box white" style="margin:0; padding:0;">
<div class="topo_box"><span>EVENTOS RECENTES</span></div>
<div class="evento_r">
<div class="img" style="background-image: url(http://i.imgur.com/rPALNH3.png);"><div class="efeito"><i class="icon-link"></i></div></div>
<span><a>Tele Certo</a></span>
<span>Descriçao e apenas pra fracos</span>
<div class="box_info2 gray2 left"><img src="imagens/icon_usr.png">Marcos</div><div class="box_info2 gray2"><img src="imagens/icon_calendario.png">21/09 as 20:36</div>
</div>
<div class="btn_big red_btn t4">Clique aqui para visualizar todos os eventos</div>
</div>
</div>
<!--END Eventos recentes!-->

<!--Noticias!-->
<div class="box_right t4">
<div class="box white" style="margin:0; padding:0;">
<div class="topo_box"><span>ÚLTIMAS NOTÍCIAS</span></div>
<!--Box Noticia!-->

<div class="noticias" style="margin-top:1px;">
<div class="imagen"style="background-image: url(http://i.imgur.com/rPALNH3.png);"><div class="efeito"><i class="icon-link"></i></div></div>
<div class="titulo_n">Notícia maneira em fera kkk</div>
<span>descrição e pra fracos</span>
<div class="box_info2 gray2 left"><img src="imagens/icon_usr.png">Marcos</div><div class="box_info2 gray2"><img src="imagens/icon_calendario.png">21/09 as 20:36</div>
</div>
<!--END Box Noticia!-->

<!--Box Noticia!-->
<div class="noticias">
<div class="imagen"style="background-image: url(http://i.imgur.com/rPALNH3.png);"><div class="efeito"><i class="icon-link"></i></div></div>
<div class="titulo_n">Notícia maneira em fera kkk</div>
<span>descrição e pra fracos</span>
<div class="box_info2 gray2 left"><img src="imagens/icon_usr.png">Marcos</div><div class="box_info2 gray2"><img src="imagens/icon_calendario.png">21/09 as 20:36</div>
</div>
<!--END Box Noticia!-->

<!--Box Noticia!-->
<div class="noticias">
<div class="imagen"style="background-image: url(http://i.imgur.com/rPALNH3.png);"><div class="efeito"><i class="icon-link"></i></div></div>
<div class="titulo_n">Notícia maneira em fera kkk</div>
<span>descrição e pra fracos</span>
<div class="box_info2 gray2 left"><img src="imagens/icon_usr.png">Marcos</div><div class="box_info2 gray2"><img src="imagens/icon_calendario.png">21/09 as 20:36</div>
</div>
<!--END Box Noticia!-->

<!--Box Noticia!-->
<div class="noticias ">
<div class="imagen"style="background-image: url(http://i.imgur.com/rPALNH3.png);"><div class="efeito"><i class="icon-link"></i></div></div>
<div class="titulo_n">Notícia maneira em fera kkk</div>
<span>descrição e pra fracos</span>
<div class="box_info2 gray2 left"><img src="imagens/icon_usr.png">Marcos</div><div class="box_info2 gray2"><img src="imagens/icon_calendario.png">21/09 as 20:36</div>
</div>
<!--END Box Noticia!-->
<div class="btn_big blue_btn t4">Clique aqui para visualizar todas as noticias</div> 
</div>
</div>
<!--END Noticias!-->

<!--Box Ultimos registrados!-->
<div class="box_left t1">
<div class="box gray">
<div class="topo_box"><span>ÚLTIMOS REGISTRADOS</span></div>

<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine9">
<script>$(document).ready(function(){$("#DjSchittine9").css("background-image",backgroundAvata)});$("#DjSchittine9").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine9").mouseout(function(){$("#DjSchittine9").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_red"><span>Vini</span></div>
<div class="top_gray"><span>20/09/2014 02:21</span></div>
</div>
<!--END Box USR!-->

<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine10">
<script>$(document).ready(function(){$("#DjSchittine10").css("background-image",backgroundAvata)});$("#DjSchittine10").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine10").mouseout(function(){$("#DjSchittine10").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_red"><span>Vini</span></div>
<div class="top_gray"><span>20/09/2014 02:21</span></div>
</div>
<!--END Box USR!-->

<!--Box USR!-->
<div class="box_usr">
<div class="avata">
<div class="img" id="DjSchittine11">
<script>$(document).ready(function(){$("#DjSchittine11").css("background-image",backgroundAvata)});$("#DjSchittine11").mouseover(function(){$(this).css("background-image",background2Avata)});$("#DjSchittine11").mouseout(function(){$("#DjSchittine11").css("background-image",backgroundAvata)});var usuario="DjSchittine";var background2Avata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=wav&direction=3&head_direction=3&gesture=srp&size=b)";var backgroundAvata="url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=gif&user="+usuario+"&action=std&direction=3&head_direction=3&gesture=sml&size=b)";</script>
</div></div>
<div class="top_red"><span>Vini</span></div>
<div class="top_gray"><span>20/09/2014 02:21</span></div>
</div>
<!--END Box USR!-->
</div>
</div>
<!-- END Ultimos registrados!-->

<!--Loja de Emblemas!-->
<div class="box_left t1">
<div class="box gray">
<div class="topo_box"><span>LOJA DE EMBLEMAS</span></div>
<div class="loja" style="margin-left:18px">
<div class="box_gray cinza02"></div>
<div class="box_gray cinza02"></div>
<div class="box_gray cinza02"></div>
<div class="box_gray cinza02"></div>
<div class="box_gray cinza02"></div>
<div class="box_gray cinza02"></div>
<div class="box_gray cinza02"></div>
<div class="box_gray cinza02"></div>
</div>
</div>
</div>
<!--END Loja de Emblemas!-->

</div><!--Meio!-->
</div><!--Container!-->
<!--END Meio!-->

<!--Rodape!-->
{% endblock %}