{% block menu %}
    <div class="menu">
        <div class="container">
            <ul>
                <li><a href="index.html.twig">Principal</a></li>
                <li><a href="">Notícias</a></li>
                <li><a href="equipe.html">Equipe</a></li>
            </ul>
        </div>
    </div>
{% endblock %}